<!DOCTYPE html>
<html>
<head>
  <title>Top Sekrit</title>

  <link rel="stylesheet" type="text/css" href="../../static/css/stylus.css">

</head>

<body>

  <h1>Click a star to rate!</h1>
  <div id="mainCan"></div>

  <!--TEMPLATES-->
  <!--Images are added in the backbone code, for ease of adding correct src under time constraints. Could switch to handlebars or similar in future.-->
  <script type="text/template" id="restaurant-template">
    <div class="restaurant" id={{id}}>
      <img src={{image}} class="restaurantImg" alt="WTFM8"></img>
      <p>{{name}}</p>
      <div id={{starCan}} class="starCan">

      </div>
      <p>{{allRatings.length}} users rated this restaurant at {{rating}} stars.</p>
    </div>
    <div class="clear"></div>
  </script>

  <!-- LIBRARIES ,,, TODO: GET THESE RUNNING LOCALLY-->
  <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js" type="text/javascript"></script>
  <script src="../static/scripts/handlebars-v3.0.0.js"></script>

  <!-- SCRIPTS -->
  <script type="text/javascript" src="../static/scripts/test.js"></script>
  <script type="text/javascript" src="../bundle.js"></script>

</body>