<!DOCTYPE html>
<html>
<head>
  <title>Top Sekrit</title>

  <link rel="stylesheet" type="text/css" href="../css/stylus.css">

</head>

<body>

  <!--STATIC HTML -->
  <h1 class="cssplaceholder">Howdy, Partner!</h1>

  <div class="restaurant">
    <img class="restaurantImg" src="wilkinson.jpg" alt="WTFM8"></img>
    <p>Wilkinson's Family Restaurant</p>
    <img class="rating" src="fiveStar.png" alt="WTFM8"></img>
    <p>4.88 stars</p>
  </div>
  <div class="clear"></div>

  <div class="restaurant">
    <img class="restaurantImg" src="doubler.jpg" alt="WTFM8"></img>
    <p>The Double R Diner</p>
    <img class="rating" src="fiveStar.png" alt="WTFM8"></img>
    <p>4.5 stars</p>
  </div>
  <div class="clear"></div>

</body>