body {
  background-image: ;
}

.clear {
  clear: both;
  margin-bottom: 20px;
}

#mainCan p {
  margin-left: 110px;
}

#mainCan li {
  list-style-type: none;
}

.restaurant {
  margin-bottom: 20px;
}

.restaurant p {
  margin-left: 110px;
}

.restaurantImg {
  height: 100px;
  width: 100px;
  float: left;
}

.rating {
  height: 30px;
  width: 30px;
  margin-left: 10px;
}